#
# All the required environment variables for the bot. Essentially there are two env files: development and production
#

ENV="REPLACE_ME"                # "development" or "production"
DB_PASSWORD="REPLACE_ME"        # Password to encrypt/decrypt databases

DISCORD_TOKEN="REPLACE_ME"      # secret discord bot token from developer portal
ALLOWED_ROLE="REPLACE_ME"       # role that is allowed to use this bot
BOT_OWNER="REPLACE_ME"          # owner of the bot, discord username

DISCORD_GUILD="REPLACE_ME"      # name of discord server that bot is joining
DROPS_CHANNEL="REPLACE_ME"      # name of drops channel
DROPS_WEBHOOK="REPLACE_ME"      # name of drops webhook
GENERAL_CHANNEL="REPLACE_ME"    # name of general channel
FORUM_CHANNEL="REPLACE_ME"      # name of forum
VOICE_CHANNEL="REPLACE_ME"      # name of main voice channel
WELCOME_CHANNEL="REPLACE_ME"    # name of new member joined channel

CLUE_THREAD="REPLACE_ME"        # name of clue thread
CLOG_THREAD="REPLACE_ME"        # name of clog thread
DEV_CHANNEL="REPLACE_ME"        # name of dev channel
