discord.py>=2.3.2
python-dotenv>=1.0.1
numpy>=1.26.4
pandas>=2.2.2
pillow>=12.1.1
textdistance>=4.6.2
requests>=2.33.0
pydantic-settings
typer>=0.12
rich>=13.7
prompt_toolkit>=3.0
textual>=0.70
sqllite3